[defaults]
# some basic default values...
inventory       = /Users/kate/code/script/ansible/hosts
# 指定默认hosts配置的位置
# library_path = /usr/share/my_modules/
remote_tmp     = $HOME/.ansible/tmp
pattern        = *
forks          = 5
poll_interval  = 15
remote_user     = vagrant
# 远程sudo用户
#ask_sudo_pass = True  \\每次执行ansible命令是否询问ssh密码
#ask_pass      = True  \\每次执行ansible命令时是否询问sudo密码
transport      = smart
remote_port    = 22
gathering = implicit
# 关闭第一次使用ansible连接客户端是输入命令提示
host_key_checking = False
# 需要时可以自行添加。chown -R root:root ansible.log
log_path    = /var/log/ansible.log
#关闭运行ansible时系统的提示信息，一般为提示升级
system_warnings = False
# set plugin path directories here, separate with colons
action_plugins     = /usr/share/ansible_plugins/action_plugins
callback_plugins   = /usr/share/ansible_plugins/callback_plugins
connection_plugins = /usr/share/ansible_plugins/connection_plugins
lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
vars_plugins       = /usr/share/ansible_plugins/vars_plugins
filter_plugins     = /usr/share/ansible_plugins/filter_plugins
fact_caching = memory
[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
# The daemon timeout is measured in minutes. This time is measured
# from the last activity to the accelerate daemon.
accelerate_daemon_timeout = 30
[privilege_escalation]
# 为受管主机上的操作启用或禁用特权升级
# 命令行选项 --become、-b
become = true

# 要在受管主机上使用的特权升级方法
# 命令行选项 --become-method
become_method = sudo

# 在受管主机上升级特权的用户
# 命令行选项 --become-user
become_user = root

# 定义受管主机上的特权升级是否提示输入密码
# 命令行选项 --ask-become-pass、 -K
become_ask_pass = false

[paramiko_connection]
[ssh_connection]
[selinux]
[colors]